section, .slide {
    padding-top: 0;
    padding-bottom: 12rem;
}

footer {
    font-size: 2.5rem;
    font-weight: bold;
}

h2 {
    padding-top: 4rem;
    border-bottom: 5px solid black;
    font-size: 7rem;
}

h2.presentation {
    font-size: 5rem;
}

a, .bg-white a {
    color: #000;
}

a:hover {
    color: #00b33c;
}

pre {
    font-size: 2.5rem;
}

.wrap-80 {
    width: 80%;
    margin-left: 10%;
}

.img-70 {
    width: 70%;
}

[class*="bg-"] .dark {
    opacity: 0.10;
}

.text-intro, [class*="content-"] p {
    font-size: 11rem;
    margin-top: 8rem;
}

.text-end-title {
    font-size: 7rem;
}

.text-end, .text-end-small, .text-end-margin {
    font-size: 3.5rem;
    margin-top: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}
.text-end-small {
    font-size: 3rem;
}
.text-end-margin {
    margin-top: 4rem;
}
.flex-content {
    min-height: 50rem;
}

.flex-content p {
    font-size: 3.5rem;
    margin-top: 4rem;
}

ul.description li {
    font-size: 3.5rem;
}

.credits {
    line-height: 6rem;
}

.normal-main, .bold-main {
    color: #009933;
}
.bold-main {
    font-weight: bold;
}
.bold-second {
    font-weight: bold;
    color: #606060;
}
.bold-second a {
    color: #606060;
}
.flexbox-asymetric {
    display: flex;
}
.flexbox-asymetric > div {
    margin-top: 1.5rem;
}
.flexbox-bigitem {
    -webkit-flex: 3 0 0;
    flex: 3 0 0;
}
.flexbox-mediumitem {
    -webkit-flex: 2 0 0;
    flex: 2 0 0;
}
.flexbox-smallitem {
    -webkit-flex: 1 0 0;
    flex: 1 0 0;
}

.description > li {
    margin-top: 2rem;
}
.description > li:first-child {
    margin-top: 5rem;
}
.description.presentation > li:first-child {
    margin-top: 0;
}
