@charset "utf-8";
/* CSS Document */


/* Los Media Query no están soportados por todos los móviles: BlackBerry anteriores a 6.0, Windows Phone 7 y NetFront; y algunos Android no lo soportan. Lo recomendable es poner para móviles sin @media: */

/*################# MOVIL ###################*/
    body {
     background-color:#6CF;
    }  



/*################# TABLETA ###################*/
@media only screen and (min-width: 481px){
    body {
     background-color:#B7D8A7;
    }  
}



/*################# ESCRITORIO ###################*/
@media only screen and (min-width: 769px)  {
     body {
     background-color:#D5ADDA;
    }   
}